.list {
    border: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.list>h3 {
    margin: 0;
    margin-bottom: 10px;
}

.list>p {
    margin: 0;
}

.user {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
}

form>input {
    max-width: 40%;
}

form>button {
    margin-top: 10px;
}

h1 {
    text-align: center;
}